* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "MS Sans Serif", Tahoma, sans-serif;
}

/* DESKTOP */

.desktop-container {
  width: 100vw;
  height: 100vh;
  background: #6a75da;
}

.desktop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.desktop-grid {
  flex: 1;
  min-height: 0;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
  position: relative;
}

/* TOOLBAR */
.desktop-toolbar {
  height: 45px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 0 10px;

  background: #bdbcbc;
  border-top: 2px solid #ededf3;
}

/* BOTONES */
.toolbar-button {
  height: 32px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #333333;

  background: #bdbcbc;

  border-top: 4px solid #ededf3;
  border-left: 4px solid #ededf3;
  border-bottom: 4px solid #707070;
  border-right: 4px solid #808080;
}

.toolbar-button:active {
  border-top: 4px solid #707070;
  border-left: 4px solid #808080;
  border-bottom: 4px solid #ededf3;
  border-right: 4px solid #ededf3;
  transform: translate(2px, 2px);
}

.button-start {
  min-width: 92px;
  text-shadow: 1px 1px 0 #ededf3;
}

.toolbar-spacer {
  flex: 1;
}

.toolbar-tray {
  height: 32px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 10px;
  border-radius: 2px;

  background: #bdbcbc;

  border-top: 4px solid #707070;
  border-left: 4px solid #808080;
  border-bottom: 4px solid #ededf3;
  border-right: 4px solid #ededf3;
}

.tray-icon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1;
}

.desktop-grid-item-button {
  background: none;
  border: none;
}

.desktop-grid-item-button:active {
  transform: translate(2px, 2px);
}

.grid-icon {
  width: 80px;
  height: 80px;
  image-rendering: pixelated;
}

.tray-clock {
  margin-left: 4px;
  padding-left: 6px;
  font-size: 13px;
  color: #333333;
  border-left: 1px solid #333333;
}
